.heading {
    -fx-font-family: "Adamina";
    -fx-font-size: 22px;
    -fx-color: BLACK;
}

.nextButton {
    -fx-background-color: #202020;
    -fx-border-color: BLACK ;
    -fx-border-width: 2px ;
    -fx-font-family: "Adamina";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
}

.comboBox {
    -fx-background-color: #202020;
    -fx-border-color: BLACK ;
    -fx-border-width: 2px ;
}

.linkButton {
    -fx-text-fill: BLACK;
    -fx-background-color: transparent;
    -fx-underline: true;
}

.firstBackground {
    -fx-background-image:url("pictures/logInBackground.jpg");
    -fx-background-size: cover;
}

.secBackground {
     -fx-background-image: url("pictures/mainPic.png");
     -fx-background-repeat: no-repeat;
     -fx-background-size: cover;
     -fx-background-image-max-width: 100%;
     -fx-background-image-max-height: 100%;
}

.homeIcon {
    -fx-background-image:url("pictures/homeIcon.png");
    -fx-background-size: 15px;
    -fx-background-image-max-width: 100%;
    -fx-background-image-max-height: 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 20px;
}

.tabPane.tab-header-area .tab-header-background {
    -fx-background-color: #202020;
    -fx-border-color: BLACK ;
    -fx-border-width: 2px ;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}